<div class="wrap" id="#wrap">
    <img src="/images/backgrounds/background.png" width="1837" height="100%">
    <h2>COUNTDOWN</h2>
    <div id="countdown"></div>
    {{!-- <video class="video" hidden id ="video" id="jscii-element-video" width="150" height="112" loop autoplay>
        <source src="/video/main.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        Your browser does not support video
	</video>
    <pre class="video" id="ascii-video"></pre>
    <div id="play">CLICK ME</div> --}}
</div>